.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 15px 5%;
    color: #ddd;
    border-bottom: 1px solid #3c3c3c;
    box-shadow: 0 3px 6px rgba(60, 60, 60, 0.6);
    background-color: #0b004e ;

    position: sticky;
    top: 0px;
    background: transparent;
    backdrop-filter: blur(90px);
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: max(4vw,36px);
}
/* .logo{
    width:max(5vw,15px);
    height:max(5vw,15px);
    border-radius: 10050%;
} */
ul{
    display: flex;
    gap: 40px;
    list-style:none;
}
li{
    cursor: pointer;

}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: max(2vw,12px);
}

.nav-right button{
    display: flex;
    align-items: center;
    padding: 15px 14px;
    height: 35px;
    width: 80px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #393939;
    background: #fff;
    border: none;
    cursor: pointer;
}

.buttontwo{
    display: flex;
    align-items: center;
    padding: 15px 14px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #ddd;
    background:transparent;
    border: none;
    cursor: pointer;
}