.home{
    width: 100%;
    background:linear-gradient(#0b004e ,#1d152f ,#002834 );
}

img{
    width: 80%;
    max-width: 35%;
    height: auto;

    box-shadow: 0 0 80px 40px rgba(2,6,23,0.9);

    -webkit-mask-image: radial-gradient(
        ellipse at center,
        black 60%,
        transparent 100%
    );

    mask-image: radial-gradient(
        ellipse at center,
        black 60%,
        transparent 100%
    );
}



#top{
    width: 100%;
    
    gap: 50px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#paraone{
    width: 100%;
    height: 60vh;

    gap: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#paratwo{
    width: 100%;
    gap: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items:center;


}



.inone{
    width: 100%;
    gap: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 50vh ;

    gap: 85px;

}

#btn{
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin-bottom: 50px;

      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
h1{
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}
h2{
    font-size: 30px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}
p{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.6;
        /* transform: translateX(-100px) ; */

    }
    to{
        opacity:1 ;
        scale: 1;
        /* transform: translateX(0px); */

    }
}
.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range:entry 0% cover 30%;
}

hr{
    opacity: 0.1;
}